/* 
utils:images.scss
*/

.img {
  display: inline-block;
  vertical-align: middle;
  //sizes
  &--logo {
    &--top {
      content: url(../../assets/images/logo-top.svg);
    }
    &--bottom {
      content: url(../../assets/images/logo-bottom.svg);
    }
  }
  &--404 {
    content: url(../../assets/images/404.svg);
  }
  &--text {
    content: url(../../assets/images/text.svg);
  }
}
