/* 
utils: type.scss
*/

//fonts

.type {
  &--poppins {
    font-family: "Poppins", sans-serif;
    &--wgt {
      &--extralight {
        font-weight: 200;
      }
      &--light {
        font-weight: 300;
      }
      &--regular {
        font-weight: 400;
      }
      &--medium {
        font-weight: 500;
      }
      &--semibold {
        font-weight: 600;
      }
      &--bold {
        font-weight: 700;
      }
      &--extrabold {
        font-weight: 800;
      }
    }
  }
  &--bangers {
    font-family: "Bangers", cursive;
    &--wgt {
      &--regular {
        font-weight: 400;
      }
    }
  }
}
