/* 
base: vars.scss
*/

//colors

$black: #000000;
$white: #ffffff;
$bg-color: #0b0d11;
$primary--grey: #252e37;

//gradients
$gradient-green: #7afe63;
$gradient-blue: #018bf3;

$gradient: linear-gradient(90deg, $gradient-green, $gradient-blue);

//sizes

$unit: 4px;

//borders
$border-circle: 1000px;
$border-round: 24px;
$border-button: 10px;
