/* 
base: base-styles.scss
*/

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Meie+Script&family=Poppins:wght@100&family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: #7afe63;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #7afe63;
  border-radius: 20px;
  background-color: #018bf3;
}
